@import "./vars.scss";

body{
  font-family: monospace;
  background: linear-gradient(2deg, $primary 0.04%, $accent);
  color: $accent;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0 30px;
  height: 100vh;
}